node_modules

# Output
.output
.vercel
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*


.vscode

src\lib\config\config.ts

.venv
__pycache__

/api/backend/database.ini
/api/backend/logs.log
/api/backend/app.log
